/* html, body {
  height: 100%;
} */

html {
  color: white;
  font-family: 'Poppins', sans-serif;
  font-size: large;
  background-color: #0c0c0c;
  scroll-behavior: smooth;
}

#logo {
  width: 120px;
  position: absolute;
  left: 2em;
}

#logo img {
  max-width:100%;
}

.container {
  height: 100vh;
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 1200px) {
  .container { 
      width: 80%;
  }
}

@media screen and (min-width: 1200px) {
  .container {
      width: 1200px;
  }
}

h1 {
  margin: 2em 0 0 0;
}

#description {
  margin: 1.5em 0 1.5em 0;
}

.flex-child {
  flex: 1;
}

model-viewer {
  width: 100%;
}

.desktop-viewer model-viewer {
  height: 600px;
}

.mobile-viewer {
  height: 300px;
}

.button-container {
  margin: 1.5em 0 1.5em 0;
}

p {
  margin: 0;
}

button {
  color: white;
  background-color: #0c0c0c;
  border-radius: 30px;
  padding: 0.75em;
  font-size: large;
  cursor: pointer;
  border-width: thin;
}
button:hover {
  color: black;
  background-color: white;
}

a {cursor: pointer}
a:link {color: white}
a:visited {color: white}

#about {
  text-align: right;
}

.hide {
  opacity: 0;
  visibility: hidden;
}

#rewind-button {
  display: inline-block;
  text-align: center;
  padding: 1em;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color .3s,
    opacity .5s, visibility .5s;
  z-index: 1000;
}

@media screen and (min-width: 800px) {
  .mobile-viewer { 
    display: none;
  }
}

@media screen and (max-width: 800px) {
  html {
    font-size: small;
  }

  #logo {
    left: 50%;
    margin-left: -60px;
  }

  h1 {
    font-size: x-large;
  }

  .container {
    text-align: center;
    width: 98%;
  }

  .desktop-viewer {
    display: none;
  }

  #rewind-button {
    bottom: 20px;
    left: 20px;
  }
}